.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectEvaluation/railroadermods.metadata.v7.bin
.vs/ProjectEvaluation/railroadermods.projects.v7.bin
.vs/ProjectEvaluation/usealltheinterchangetracksmod.metadata.v7.bin
.vs/ProjectEvaluation/usealltheinterchangetracksmod.projects.v7.bin
.vs/RailroaderMods/DesignTimeBuild/.dtbcache.v2
.vs/RailroaderMods/FileContentIndex/36dd51f3-03aa-469c-8503-e7fdd8645733.vsidx
.vs/RailroaderMods/FileContentIndex/81a9d3c4-0169-4065-b750-7bca2323e029.vsidx
.vs/RailroaderMods/FileContentIndex/c3fe171c-008f-48f3-b104-44f744af4cd9.vsidx
.vs/RailroaderMods/v17/.futdcache.v2
.vs/RailroaderMods/v17/.suo
.vs/UseAllTheInterchangeTracksMod/DesignTimeBuild/.dtbcache.v2
.vs/UseAllTheInterchangeTracksMod/FileContentIndex/9ca93418-1896-4bd0-8c73-b55393d5fc59.vsidx
.vs/UseAllTheInterchangeTracksMod/v17/.futdcache.v2
.vs/UseAllTheInterchangeTracksMod/v17/.suo
.vs/UseAllTheInterchangeTracksMod/v17/.wsuo
obj/InterchangeUnchained.csproj.nuget.dgspec.json
obj/InterchangeUnchained.csproj.nuget.g.props
obj/InterchangeUnchained.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/UseAllTheInterchangeTracksMod.csproj.nuget.dgspec.json
obj/UseAllTheInterchangeTracksMod.csproj.nuget.g.props
obj/UseAllTheInterchangeTracksMod.csproj.nuget.g.targets
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/InterchangeUnchained.AssemblyInfo.cs
obj/Debug/InterchangeUnchained.AssemblyInfoInputs.cache
obj/Debug/InterchangeUnchained.assets.cache
obj/Debug/InterchangeUnchained.csproj.AssemblyReference.cache
obj/Debug/InterchangeUnchained.csproj.CoreCompileInputs.cache
obj/Debug/InterchangeUnchained.csproj.FileListAbsolute.txt
obj/Debug/InterchangeUnchained.dll
obj/Debug/InterchangeUnchained.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/InterchangeUnchained.pdb
obj/Debug/UseAllTheInterchangeTracksMod.AssemblyInfo.cs
obj/Debug/UseAllTheInterchangeTracksMod.AssemblyInfoInputs.cache
obj/Debug/UseAllTheInterchangeTracksMod.assets.cache
obj/Debug/UseAllTheInterchangeTracksMod.csproj.AssemblyReference.cache
obj/Debug/UseAllTheInterchangeTracksMod.csproj.CoreCompileInputs.cache
obj/Debug/UseAllTheInterchangeTracksMod.csproj.FileListAbsolute.txt
obj/Debug/UseAllTheInterchangeTracksMod.dll
obj/Debug/UseAllTheInterchangeTracksMod.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/UseAllTheInterchangeTracksMod.pdb
